<div class="offset-md-3 col-md-6">
  <button mat-button (click)="enviar()">Enviar nuevo ejemplo</button>
  <button mat-button (click)="deleteAllNotificacion()">Limpiar todos</button>
  <button mat-button (click)="sendMePushNotification()">Recibir notificacion push a mi mismo</button>

  <mat-card *ngFor="let noti of notificaciones" class="my-2">
    <mat-icon *ngIf="!noti.leido" class="new text-warning">new_releases</mat-icon>
    <button mat-icon-button class="float-right" (click)="deleteNotificacion(noti)"><mat-icon>close</mat-icon></button>
    <mat-card-content>
      <mat-card-subtitle>{{noti.titulo}}<span class="float-right">{{noti.fecha.toDate() | date:'d/M/yyyy H:mm:ss'}}</span></mat-card-subtitle>
      <p>{{noti.descripcion}}</p>
    </mat-card-content>
  </mat-card>
</div>