<h4 mat-dialog-title class="py-3">Enviar Incidencia</h4>
<div mat-dialog-content>
  <section>
      <label>Prioridad:</label>
      <mat-radio-group [(formControl)]="controlPrioridad">
        <mat-radio-button class="p-2" value="Baja">
          Baja
        </mat-radio-button>
        <mat-radio-button class="p-2" value="Media">
          Media
        </mat-radio-button>
        <mat-radio-button class="p-2" value="Alta">
          Alta
        </mat-radio-button>
      </mat-radio-group>
  </section> 
  <mat-form-field class="w-100">
    <mat-select placeholder="Tipo de incidencia" [(formControl)]="control1" required>
        <mat-option value="Anomalía">Anomalía</mat-option>
        <mat-option value="Enfermedad">Enfermedad</mat-option>
        <mat-option value="Avería">Avería</mat-option>
        <mat-option value="Roturas">Roturas</mat-option>
        <mat-option value="Otro">Otro...</mat-option>
    </mat-select>
    <mat-error *ngIf="control1.hasError('required')">Campo <strong>obligatorio</strong></mat-error>
  </mat-form-field> 
  <mat-form-field class="w-100" *ngIf="control1.value == 'Otro'">
    <textarea matInput maxlength="100" placeholder="Descripción" [(formControl)]="control2" rows="3" required></textarea>
    <mat-hint align="end">{{control2.value.length}} / 100</mat-hint>
    <mat-error *ngIf="control2.hasError('required')">Campo <strong>obligatorio</strong></mat-error>
  </mat-form-field>
  <mat-form-field class="w-50">
      <input matInput [value]="control3.value" placeholder="Fecha" disabled>
      <mat-error *ngIf="control3.hasError('required')">Campo <strong>obligatorio</strong></mat-error>
  </mat-form-field>
  <mat-form-field class="w-50">
      <input matInput [value]="control4.value.nombre"  placeholder="Autor" disabled>
  </mat-form-field>

  <section >
    <label>Instalaciones:</label>
    <mat-radio-group [(formControl)]="controlInsta">
      <mat-radio-button class="p-2" [value]=true>
        Dentro
      </mat-radio-button>
      <mat-radio-button class="p-2" [value]=false>
        Fuera
      </mat-radio-button>
    </mat-radio-group>
  </section>
  <div *ngIf="!controlInsta.value">
    <button mat-stroked-button (click)="showMapa()" color="primary" *ngIf="!ubicacion">Añadir ubicación * <mat-icon>map</mat-icon></button>
    <span *ngIf="ubicacion">Longitud: {{ubicacion.longitude}} , Latitud: {{ubicacion.latitude}}<button mat-icon-button matTooltip="Eliminar ubicacion" (click)="deleteUbicacion()" color="warn"><mat-icon>close</mat-icon></button></span>
  </div>

  <section>
  <mat-form-field *ngIf="controlInsta.value">
    <mat-select placeholder="Invernadero" [(formControl)]="controlInver" required>
        <mat-option value="Doble">Doble</mat-option>
        <mat-option value="Loma">Loma</mat-option>
        <mat-option value="Sergio">Sergio</mat-option>
        <mat-option value="Capataz">Capataz</mat-option>
        <mat-option value="Pisos">Pisos</mat-option>
        <mat-option value="Hnos Pastor Urbano">Hnos Pastor Urbano</mat-option>
        <mat-option value="Currico">Currico</mat-option>
        <mat-option value="Pinar Alto">Pinar Alto</mat-option>
    </mat-select>
    <mat-error *ngIf="controlInver.hasError('required')">Campo <strong>obligatorio</strong></mat-error>
  </mat-form-field>
  <mat-form-field *ngIf="controlInver.value && controlInsta.value">
    <mat-select placeholder="Sector (opcional)" [(formControl)]="controlSector">
          <mat-option *ngFor="let sector of sectores" [value]="sector">{{sector}}</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field *ngIf="controlSector.value && controlInsta.value">
      <mat-select placeholder="Fila (opcional)" [(formControl)]="controlTabla">
          <mat-option *ngFor="let fila of filas" [value]="fila">{{fila}}</mat-option>
      </mat-select>
  </mat-form-field>
  <mat-form-field *ngIf="controlTabla.value && controlInsta.value">
      <input matInput placeholder="Planta (opcional)" type="number" [(formControl)]="controlPlanta">
      <mat-hint align="end">{{(controlPlanta.value ? controlPlanta.value.toString().length : 0)}} / 21</mat-hint>
  </mat-form-field> 
</section>
</div>
<div mat-dialog-actions class="float-right">
    <button mat-button (click)="submit()">Enviar</button>
    <button mat-button (click)="close()" color="warn">Cerrar</button>
</div>

<app-map (action)="actionMap($event)" [register]=true *ngIf="activemap"></app-map>
