<h4 mat-dialog-title class="py-3">Enviar Incidencia</h4>
<div mat-dialog-content>
  <section>
      <label>Prioridad:</label>
      <mat-radio-group [(formControl)]="controlPrioridad">
        <mat-radio-button class="p-2" value="Baja">
          Baja
        </mat-radio-button>
        <mat-radio-button class="p-2" value="Media">
          Media
        </mat-radio-button>
        <mat-radio-button class="p-2" value="Alta">
          Alta
        </mat-radio-button>
      </mat-radio-group>
  </section> 
  <mat-form-field class="w-100">
    <mat-select placeholder="Tipo de incidencia" [(formControl)]="control1" required>
        <mat-option value="Anomalía">Anomalía</mat-option>
        <mat-option value="Enfermedad">Enfermedad</mat-option>
        <mat-option value="Avería">Avería</mat-option>
        <mat-option value="Roturas">Roturas</mat-option>
        <mat-option value="Otro">Otro...</mat-option>
    </mat-select>
    <mat-error *ngIf="control1.hasError('required')">Campo <strong>obligatorio</strong></mat-error>
  </mat-form-field> 
  <mat-form-field class="w-100" *ngIf="control1.value == 'Otro'">
    <textarea matInput placeholder="Descripción" [(formControl)]="control2" rows="3" required></textarea>
    <mat-error *ngIf="control2.hasError('required')">Campo <strong>obligatorio</strong></mat-error>
  </mat-form-field>
  <mat-form-field class="w-50">
      <input matInput [value]="control3.value" placeholder="Fecha" disabled>
      <mat-error *ngIf="control3.hasError('required')">Campo <strong>obligatorio</strong></mat-error>
  </mat-form-field>
  <mat-form-field class="w-50">
      <input matInput [value]="control4.value.nombre"  placeholder="Autor" disabled>
  </mat-form-field>

  <section >
    <label>Instalaciones:</label>
    <mat-radio-group [(formControl)]="controlInsta">
      <mat-radio-button class="p-2" [value]=true>
        Dentro
      </mat-radio-button>
      <mat-radio-button class="p-2" [value]=false>
        Fuera
      </mat-radio-button>
    </mat-radio-group>
  </section>
  <div *ngIf="!controlInsta.value">
    <button mat-stroked-button (click)="showMapa()" color="primary" *ngIf="!ubicacion">Añadir ubicación * <mat-icon>map</mat-icon></button>
    <span *ngIf="ubicacion">Longitud: {{ubicacion.longitude}} , Latitud: {{ubicacion.latitude}}<button mat-icon-button matTooltip="Eliminar ubicacion" (click)="deleteUbicacion()" color="warn"><mat-icon>close</mat-icon></button></span>
  </div>

  <section>
  <mat-form-field *ngIf="controlInsta.value">
    <mat-select placeholder="Invernadero" [(formControl)]="controlInver" required>
        <mat-option value="Invernadero 1">Invernadero 1</mat-option>
        <mat-option value="Invernadero 2">Invernadero 2</mat-option>
        <mat-option value="Invernadero 3">Invernadero 3</mat-option>
        <mat-option value="Invernadero 4">Invernadero 4</mat-option>
        <mat-option value="Invernadero 5">Invernadero 5</mat-option>
        <mat-option value="Invernadero 6">Invernadero 6</mat-option>
    </mat-select>
    <mat-error *ngIf="controlInver.hasError('required')">Campo <strong>obligatorio</strong></mat-error>
  </mat-form-field>
  <mat-form-field *ngIf="controlInver.value && controlInsta.value">
    <mat-select placeholder="Sector (opcional)" [(formControl)]="controlSector">
 		      <mat-option value="1">1</mat-option>
          <mat-option value="2">2</mat-option>
          <mat-option value="3">3</mat-option>
          <mat-option value="4">4</mat-option>
          <mat-option value="5">5</mat-option>
          <mat-option value="6">6</mat-option>
          <mat-option value="7">7</mat-option>
          <mat-option value="8">8</mat-option>
          <mat-option value="9">9</mat-option>
          <mat-option value="10">10</mat-option>
          <mat-option value="11">11</mat-option>
          <mat-option value="12">12</mat-option>
          <mat-option value="13">13</mat-option>
          <mat-option value="14">14</mat-option>
          <mat-option value="15">15</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field *ngIf="controlSector.value && controlInsta.value">
      <mat-select placeholder="Fila (opcional)" [(formControl)]="controlTabla">
          <mat-option value="1">1</mat-option>
          <mat-option value="2">2</mat-option>
          <mat-option value="3">3</mat-option>
          <mat-option value="4">4</mat-option>
          <mat-option value="5">5</mat-option>
          <mat-option value="6">6</mat-option>
          <mat-option value="7">7</mat-option>
          <mat-option value="8">8</mat-option>
          <mat-option value="9">9</mat-option>
          <mat-option value="10">10</mat-option>
          <mat-option value="11">11</mat-option>
          <mat-option value="12">12</mat-option>
          <mat-option value="13">13</mat-option>
          <mat-option value="14">14</mat-option>
          <mat-option value="15">15</mat-option>
          <mat-option value="16">16</mat-option>
          <mat-option value="17">17</mat-option>
          <mat-option value="18">18</mat-option>
          <mat-option value="19">19</mat-option>
          <mat-option value="20">20</mat-option>
          <mat-option value="21">21</mat-option>
          <mat-option value="22">22</mat-option>
          <mat-option value="23">23</mat-option>
          <mat-option value="24">24</mat-option>
          <mat-option value="26">26</mat-option>
          <mat-option value="28">28</mat-option>
          <mat-option value="29">29</mat-option>
          <mat-option value="30">30</mat-option>
          <mat-option value="31">31</mat-option>
          <mat-option value="32">32</mat-option>
          <mat-option value="33">33</mat-option>
      </mat-select>
  </mat-form-field>
  <mat-form-field class="w-50" *ngIf="controlTabla.value && controlInsta.value">
      <input matInput placeholder="Planta (opcional)" type="number" [(formControl)]="controlPlanta">
  </mat-form-field> 
</section>
</div>
<div mat-dialog-actions class="float-right">
    <button mat-button (click)="submit()">Enviar</button>
    <button mat-button (click)="close()" color="warn">Cerrar</button>
</div>

<app-map (action)="actionMap($event)" [register]=true *ngIf="activemap"></app-map>
