<h2 mat-dialog-title [ngClass]="{'text-danger': usuario.baneado}">Usuario
<mat-icon class="float-right" matTooltip="Bloqueado" *ngIf="usuario.baneado">block</mat-icon>
</h2>

<mat-dialog-content>
    <p><b>Nombre completo:</b> {{usuario.nombre}}, {{usuario.apellidos}}</p>
    <p><b>Nº de empleado/a:</b>  {{usuario.empleado}}</p>
    <p *ngIf="isCoordinador()"><b>Rol:</b>  {{usuario.rol | lowercase}}/a</p>
    <p><b>Genero:</b>   {{usuario.genero | lowercase}}</p>
    <p><b>Telefono:</b> {{usuario.telefono}}</p>
    <a mat-raised-button matTooltip="Realizar llamada" class="w-100 text-white primary-bg" [href]="urlTelefono(usuario.telefono)"><mat-icon>phone</mat-icon></a>
</mat-dialog-content>
