<div class="row">
  <div class="col-12 text-center">
      <mat-button-toggle-group (click)='toggleView()' #rol="matButtonToggleGroup">
          <mat-button-toggle active value="coordinador" >
            Administrador/Coordinador
          </mat-button-toggle>
          <mat-button-toggle value="trabajador">
            Trabajador
          </mat-button-toggle>
        </mat-button-toggle-group>
  </div>
  <div class="col-md-4 pt-5 mt-5" *ngIf="isCoordinador()">
    <mat-chip-list>
      <mat-chip (click)="getUsuarios(grupo)" selected="false" selectable=true *ngFor="let grupo of misGrupos">{{grupo.nombre}}</mat-chip>
    </mat-chip-list>
  <br>
  <p class="text-muted text-center pt-5 mt-5" *ngIf="!usuarios">Seleccione grupo</p>
  <p class="text-muted text-center pt-5 mt-5" *ngIf="usuarios && usuarios.length == 0">Este grupo no contiene usuarios</p>
    <mat-chip-list class="mat-chip-list-stacked">
      <mat-chip (click)="getTareas(usuario.empleado)" *ngFor="let usuario of usuarios">{{usuario.nombre}}, {{usuario.apellidos}}</mat-chip>
    </mat-chip-list>
  </div>

  <mat-accordion class="col-md-8 pt-4"  *ngIf="userSelected" 
  [ngClass]="{'offset-md-2': !isCoordinador()}">
      <div class=" pb-3">      
   
          <p>Tareas de {{userSelected.nombre}} {{userSelected.apellidos}}
            <button mat-icon-button matTooltip="Filtra tareas por fecha" class="float-right" (click)="picker.open()"><mat-icon>date_range</mat-icon></button>
            <button mat-button *ngIf="filtro" matTooltip="Limpia el filtro" class="float-right" (click)="limpiarFiltro()">Limpiar</button>
          </p>
          <mat-form-field class="d-none">
              <input matInput [matDatepicker]="picker" (dateChange)="dateChange($event)">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker touchUi #picker></mat-datepicker>
          </mat-form-field>
      </div>
      <p class="text-muted text-center pt-5 mt-5" *ngIf="tareas.length == 0">No tiene tareas asignadas</p>
      <mat-expansion-panel *ngFor="let tarea of tareas">
        <mat-expansion-panel-header class="py-5">
          <mat-panel-title> 
            <mat-icon *ngIf="tarea.finalizada" class="text-success">check_circle</mat-icon>
            <mat-icon *ngIf="tarea.cancelada"  class="text-danger">block</mat-icon>
            {{tarea.tipo}}{{tarea.subtipo ? ' - '+tarea.subtipo : '' }}
          </mat-panel-title>
          <mat-panel-description>
            {{tarea.fecha.toDate() | date}}
          </mat-panel-description>
        </mat-expansion-panel-header>
        <p>{{tarea.descripcion ? 'Detalles:'+tarea.descripcion : ''}}</p>
        <button *ngIf="!tarea.cancelada && !tarea.finalizada" class="mx-2" mat-raised-button color="primary" (click)="finalizarTarea(tarea.id)"><mat-icon>check_circle</mat-icon> Finalizar</button>
        <button *ngIf="!tarea.cancelada && tarea.finalizada" class="mx-2" mat-button (click)="activarTarea(tarea.id)">Activar de nuevo</button>
        <button *ngIf="!tarea.cancelada && !tarea.finalizada" class="mx-2" mat-raised-button color="warn" (click)="cancelarTarea(tarea.id)"><mat-icon>block</mat-icon> Cancelar</button>
        <button *ngIf="tarea.cancelada  && !tarea.finalizada" class="mx-2" mat-button (click)="descancelarTarea(tarea.id)">Descancelar</button>
        <button *ngIf="!tarea.cancelada && !tarea.finalizada && isCoordinador()" class="float-right" mat-mini-fab color="warn" (click)="eliminarTarea(tarea.id)"><mat-icon>delete</mat-icon></button>
      </mat-expansion-panel>
  </mat-accordion>
</div>
<button class="float-button" *ngIf="isCoordinador()" mat-mini-fab [routerLink]="[ '../../tareas/formulario' ]" color="primary"> <mat-icon class="addIcon">add</mat-icon></button>