<div class="row">
  <div class="float-group">
      <mat-button-toggle-group (click)='toggleView()' #rol="matButtonToggleGroup">
          <mat-button-toggle active value="coordinador" >1</mat-button-toggle>
          <mat-button-toggle value="trabajador">2</mat-button-toggle>
        </mat-button-toggle-group>
  </div>
  <div class="col-md-4 pt-3" *ngIf="isCoordinador()">
    <mat-chip-list>
      <mat-chip (click)="getUsuarios(grupo)" [selected]="grupoSelected == grupo" selectable=true *ngFor="let grupo of misGrupos">{{grupo.nombre}}</mat-chip>
    </mat-chip-list>
  <br>
  <p class="text-muted text-center pt-5 mt-5" *ngIf="!usuarios">Seleccione grupo</p>
  <p class="text-muted text-center pt-5 mt-5" *ngIf="usuarios && usuarios.length == 0">Este grupo no contiene usuarios</p>
    <mat-chip-list class="mat-chip-list-stacked" *ngIf="grupoSelected">
      <mat-chip (click)="getTareas('Pendientes', grupoSelected)"><mat-icon>stars</mat-icon> {{grupoSelected.coordinador}}</mat-chip>
      <mat-chip (click)="getTareas('Pendientes', grupoSelected, usuario)" [selected]="userSelected == usuario" [ngClass]="{'text-danger': usuario.baneado}" *ngFor="let usuario of usuarios"><mat-icon>account_circle</mat-icon> {{usuario.nombre}}, {{usuario.apellidos}}</mat-chip>
    </mat-chip-list>
  </div>

 

  <mat-accordion class="col-md-8 pt-3" multi="true" [ngClass]="{'offset-md-2': !isCoordinador()}">
    <button mat-icon-button matTooltip="Filtra tareas por fecha" [ngClass]="{'text-white bg-grey': filtro}" class="float-right" (click)="picker.open()" *ngIf="userSelected"><mat-icon>date_range</mat-icon></button>
    <button mat-button *ngIf="filtro && userSelected" matTooltip="Limpia el filtro" class="float-right" (click)="limpiarFiltro()">Limpiar</button>
    <mat-chip-list  *ngIf="userSelected">
          <mat-chip [selected]="tipoTarea == 'Pendientes'" selectable=true (click)="getTareas('Pendientes', grupoSelected, userSelected)">
            <mat-icon *ngIf="pickPendientes">new_releases</mat-icon>
            {{numPendientes}} Activas
          </mat-chip>
          <mat-chip [selected]="tipoTarea == 'Canceladas'" selectable=true (click)="getTareas('Canceladas', grupoSelected, userSelected)">
            <mat-icon *ngIf="pickCanceladas">new_releases</mat-icon> 
            <mat-icon>block</mat-icon> 
            {{numCanceladas}} Canceladas
          </mat-chip>
          <mat-chip [selected]="tipoTarea == 'Finalizadas'" selectable=true (click)="getTareas('Finalizadas', grupoSelected, userSelected)">
            <mat-icon *ngIf="pickFinalizadas">new_releases</mat-icon>
            <mat-icon>check_circle_outline</mat-icon> 
            {{numFinalizadas}} Finalizadas
          </mat-chip>
    </mat-chip-list>
    

    <mat-form-field class="d-none">
        <input matInput [matDatepicker]="picker" (dateChange)="dateChange($event)">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker touchUi #picker></mat-datepicker>
    </mat-form-field>

    <div class="pt-3" *ngIf="tareasGrupales.length > 0">
        <p>Tareas Grupales {{grupoSelected.nombre}}</p>
        <mat-expansion-panel class="bg-grupal-extend" *ngFor="let tarea of tareasGrupales">
            <mat-expansion-panel-header class="py-5">
              <mat-panel-title> 
                <mat-icon *ngIf="tarea.finalizada" class="text-success">check_circle_outline</mat-icon>
                <mat-icon *ngIf="tarea.cancelada"  class="text-danger">block</mat-icon>
                {{tarea.tipo}}{{tarea.subtipo ? ' - '+tarea.subtipo : '' }}
              </mat-panel-title>
              <mat-panel-description>
                  <mat-icon class="mr-2" matTooltip="Contiene detalles relevantes dentro de la tarea" *ngIf="tarea.descripcion">comment</mat-icon>
                {{tarea.fechaComienzo| date:'dd/MM/yyyy'}}
              </mat-panel-description>
            </mat-expansion-panel-header>
            <p *ngIf="tarea.fechaComienzo"><b>Fecha de comienzo:</b> {{tarea.fechaComienzo | date:'dd/MM/yyyy'}}</p>
            <p *ngIf="tarea.fechaEstimacion"><b>Fecha de finalización (estimada):</b> {{tarea.fechaEstimacion | date:'dd/MM/yyyy'}}</p>
            <p *ngIf="tarea.fechaFinalizacion"><b>Fecha de finalización (real):</b> {{tarea.fechaFinalizacion | date:'dd/MM/yyyy'}}</p>
            <b>Reponsable:</b><a mat-button (click)="openUserDialogByGroup(tarea.responsable)"> {{tarea.responsable}}</a>
            <b>Grupo:</b><a mat-button> {{tarea.grupo}}</a>
            <p *ngIf="tarea.descripcion"><b>Detalles:</b> {{tarea.descripcion}}</p>
            <br> 
            <button *ngIf="!tarea.cancelada && !tarea.finalizada" class="mx-2 bg-success" mat-raised-button color="primary" (click)="finalizarTarea(tarea.id)"><mat-icon>check_circle_outline</mat-icon> Finalizar</button>
            <button *ngIf="!tarea.cancelada && tarea.finalizada" class="mx-2" mat-button (click)="activarTarea(tarea.id)">Activar de nuevo</button>
            <button *ngIf="!tarea.cancelada && !tarea.finalizada" class="mx-2" mat-raised-button color="warn" (click)="cancelarTarea(tarea.id)"><mat-icon>block</mat-icon> Cancelar</button>
            <button *ngIf="tarea.cancelada  && !tarea.finalizada" class="mx-2" mat-button (click)="descancelarTarea(tarea.id)">Descancelar</button>
            <button *ngIf="!tarea.cancelada && !tarea.finalizada && isCoordinador()" class="float-right" mat-mini-fab color="warn" (click)="eliminarTarea(tarea.id)"><mat-icon>delete</mat-icon></button>
        </mat-expansion-panel>
    </div>  
    <div class="py-3" *ngIf="userSelected">      
          <p>Tareas de {{userSelected.nombre}} {{userSelected.apellidos}} </p>
      <p class="text-muted text-center pt-5 mt-5" *ngIf="tareas.length == 0">
        <mat-icon class="pt-1">date_range</mat-icon> No tiene tareas {{tipoTarea}}
      </p>
      <mat-expansion-panel *ngFor="let tarea of tareas">
        <mat-expansion-panel-header class="py-5">
          <mat-panel-title>
            <mat-icon *ngIf="tarea.finalizada" class="text-success">check_circle_outline</mat-icon>
            <mat-icon *ngIf="tarea.cancelada"  class="text-danger">block</mat-icon>
            {{tarea.tipo}}{{tarea.subtipo ? ' - '+tarea.subtipo : '' }}
          </mat-panel-title>
          <mat-panel-description>
            <mat-icon class="text-muted" matTooltip="Tarea Retrasada" *ngIf="(tipoTarea == 'Pendientes' && diffDias(tarea.fechaEstimacion)<0)">error</mat-icon>
            <mat-icon class="mr-2" matTooltip="Contiene detalles relevantes dentro de la tarea" *ngIf="tarea.descripcion">comment</mat-icon>
            <ng-container *ngIf="tipoTarea == 'Pendientes'">
              <span [matTooltip]="tarea.fechaEstimacion | date:'dd/MM/yyyy'" *ngIf="diffDias(tarea.fechaEstimacion)<-1" class="text-danger font-weight-bolder">Retrasada {{diffDias(tarea.fechaEstimacion)*-1}} días</span>
              <span [matTooltip]="tarea.fechaEstimacion | date:'dd/MM/yyyy'" *ngIf="diffDias(tarea.fechaEstimacion)>0" class="font-weight-bolder">Acaba en {{diffDias(tarea.fechaEstimacion)}} días</span>
              <span [matTooltip]="tarea.fechaEstimacion | date:'dd/MM/yyyy'" *ngIf="diffDias(tarea.fechaEstimacion)==-1" class="font-weight-bolder">Acaba mañana</span>
              <span [matTooltip]="tarea.fechaEstimacion | date:'dd/MM/yyyy'" *ngIf="diffDias(tarea.fechaEstimacion)==0" class="font-weight-bolder">Termina hoy</span>
            </ng-container>
            <span [matTooltip]="tarea.fechaFinalizacion | date:'dd/MM/yyyy'" *ngIf="tipoTarea == 'Canceladas' || tipoTarea == 'Finalizadas'" class="font-weight-bolder">{{diffDias(tarea.fechaFinalizacion) == 0? 'Hoy' : (diffDias(tarea.fechaFinalizacion) == -1) ? 'Ayer' : ('Hace '+diffDias(tarea.fechaFinalizacion)*-1+' días')}}</span>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <p *ngIf="tarea.fechaComienzo"><b>Fecha de comienzo:</b> {{tarea.fechaComienzo | date:'dd/MM/yyyy'}}</p>
        <p *ngIf="tarea.fechaEstimacion"><b>Fecha de finalización (estimada):</b> {{tarea.fechaEstimacion | date:'dd/MM/yyyy'}}</p>
        <p *ngIf="tarea.fechaFinalizacion"><b>Fecha de finalización (real):</b> {{tarea.fechaFinalizacion | date:'dd/MM/yyyy'}}</p>
        <p>
          <b>Reponsable:</b><button class="btn btn-link" (click)="openUserDialog(tarea.responsable)"> {{userSelected.nombre}}</button>
          <b>Grupo:</b><button class="btn btn-link"> {{tarea.grupo}}</button>
        </p>
        <p *ngIf="tarea.descripcion"><b><mat-icon class="mr-2">comment</mat-icon>Detalles:</b> {{tarea.descripcion}}</p>
        <br>
        <button *ngIf="!tarea.cancelada && !tarea.finalizada" class="mx-2 bg-success" mat-raised-button color="primary" (click)="finalizarTarea(tarea.id)"><mat-icon>check_circle_outline</mat-icon> Finalizar</button>
        <button *ngIf="!tarea.cancelada && tarea.finalizada" class="mx-2" mat-button (click)="activarTarea(tarea.id)">Activar de nuevo</button>
        <button *ngIf="!tarea.cancelada && !tarea.finalizada" class="mx-2" mat-raised-button color="warn" (click)="cancelarTarea(tarea.id)"><mat-icon>block</mat-icon> Cancelar</button>
        <button *ngIf="tarea.cancelada  && !tarea.finalizada" class="mx-2" mat-button (click)="descancelarTarea(tarea.id)">Descancelar</button>
        <button *ngIf="!tarea.cancelada && !tarea.finalizada && isCoordinador()" matTooltip="Eliminar permanentemente" class="float-right" mat-mini-fab color="warn" (click)="eliminarTarea(tarea.id)"><mat-icon>delete</mat-icon></button>
      </mat-expansion-panel>
    </div>
  </mat-accordion>
</div>
<button class="float-button"matTooltip="Añadir tareas" *ngIf="isCoordinador()" mat-mini-fab [routerLink]="[ '../../tareas/formulario' ]" color="primary"> <mat-icon class="addIcon">add</mat-icon></button>