<div class="row">
  <div class="col-md-4 pt-3 " *ngIf="isCoordinador()">
    <mat-chip-list >
      <mat-chip (click)="getUsuarios(grupo)" [selected]="grupoSelected == grupo" selectable=true *ngFor="let grupo of misGrupos">{{grupo.nombre}}</mat-chip>
    </mat-chip-list>
    <br>
    <p class="text-muted text-center pt-5 mt-5" *ngIf="!usuarios">Seleccione grupo</p>
    <p class="text-muted text-center pt-5 mt-5" *ngIf="usuarios && usuarios.length == 0">Este grupo no contiene usuarios</p>
    <mat-chip-list class="mat-chip-list-stacked" *ngIf="grupoSelected">
      <mat-chip (click)="getTareas('Pendientes', grupoSelected, findUsuario(grupoSelected.coordinador))"><mat-icon>stars</mat-icon> {{findUsuario(grupoSelected.coordinador).nombre}}, {{findUsuario(grupoSelected.coordinador).apellidos}}</mat-chip>
      <mat-chip (click)="getTareas('Pendientes', grupoSelected, usuario)" [selected]="userSelected == usuario" [ngClass]="{'text-danger': usuario.baneado}" *ngFor="let usuario of usuarios"><mat-icon>account_circle</mat-icon> {{usuario.nombre}}, {{usuario.apellidos}}</mat-chip>
    </mat-chip-list>
  </div>

  <div class="offset-md-2 col-md-8 pt-3 " *ngIf="!isCoordinador()">
      <mat-chip-list >
        <mat-chip (click)="getTareas('Pendientes' , grupo , userSelected)" [selected]="grupoSelected == grupo" selectable=true *ngFor="let grupo of misGrupos">{{grupo.nombre}}</mat-chip>
      </mat-chip-list>
  </div>

  <mat-accordion class="col-md-8 pt-3" multi="true" [ngClass]="{'offset-md-2': !isCoordinador()}">
<!--     <button mat-icon-button matTooltip="Filtra tareas por fecha" [ngClass]="{'text-white bg-grey': filtro}" class="float-right" (click)="picker.open()" *ngIf="userSelected"><mat-icon>date_range</mat-icon></button> -->
    <!-- <button mat-button *ngIf="filtro && userSelected" matTooltip="Limpia el filtro" class="float-right" (click)="limpiarFiltro()">Limpiar</button> -->
    <mat-chip-list  *ngIf="userSelected">
          <mat-chip [selected]="tipoTarea == 'Pendientes'" selectable=true (click)="getTareas('Pendientes', grupoSelected, userSelected)">
            <mat-icon *ngIf="pickPendientes">new_releases</mat-icon>
            {{numPendientes}} Activas
          </mat-chip>
          <mat-chip [selected]="tipoTarea == 'Canceladas'" selectable=true (click)="getTareas('Canceladas', grupoSelected, userSelected)">
            <mat-icon *ngIf="pickCanceladas">new_releases</mat-icon> 
            <mat-icon>pause_circle_outline</mat-icon> 
            {{numCanceladas}} Pausadas
          </mat-chip>
          <mat-chip [selected]="tipoTarea == 'Finalizadas'" selectable=true (click)="getTareas('Finalizadas', grupoSelected, userSelected)">
            <mat-icon *ngIf="pickFinalizadas">new_releases</mat-icon>
            <mat-icon>alarm_on</mat-icon> 
            {{numFinalizadas}} Finalizadas
          </mat-chip>
          <mat-chip [selected]="tipoTarea == 'Futuras'" selectable=true (click)="getTareas('Futuras', grupoSelected, userSelected)">
              <mat-icon *ngIf="pickFuturas">new_releases</mat-icon>
              {{numFuturas}} Próximas
          </mat-chip> 
    </mat-chip-list>
    

<!--     <mat-form-field class="d-none">
        <input matInput [matDatepicker]="picker" (dateChange)="dateChange($event)">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker touchUi #picker></mat-datepicker>
    </mat-form-field>
 -->
    <div class="pt-3" *ngIf="grupoSelected">
        <p>Tareas Grupales {{grupoSelected.nombre}}<mat-icon class="text-muted float-right" matTooltip="Los únicos autorizados en cambiar el estado de las tareas grupales son el admin y el propio responsable.">info</mat-icon></p>
        <p class="text-muted text-center mt-3" *ngIf="tareasGrupales.length == 0">
          <mat-icon class="pt-1">date_range</mat-icon> No tiene tareas Grupales {{tipoTarea}}
        </p>
        <ng-container *ngIf="tareasGrupales.length > 0">
          <mat-expansion-panel class="bg-grupal-extend" *ngFor="let tarea of tareasGrupales" hideToggle>
            <mat-expansion-panel-header class="py-5">
                <mat-panel-title>
                  <mat-icon *ngIf="tarea.finalizada" class="text-success">alarm_on</mat-icon>
                  <mat-icon *ngIf="tarea.cancelada"  class="text-danger">pause_circle_outline</mat-icon>
                <b>{{tarea.tipo}}</b>
                </mat-panel-title>
                <mat-panel-description>
                  <mat-icon class="mr-2" matTooltip="Contiene detalles" *ngIf="tarea.descripcion">comments</mat-icon>
                  <mat-icon class="mr-2" matTooltip="Contiene comentarios" *ngIf="tarea.comentarios">question_answer</mat-icon>
                  <ng-container *ngIf="tipoTarea == 'Pendientes'">
                    <span [matTooltip]="tarea.fechaEstimacion | date:'dd/MM/yyyy'" *ngIf="diffDias(tarea.fechaEstimacion)<0" class="text-danger font-weight-bolder">Retrasada {{diffDias(tarea.fechaEstimacion)*-1}} días</span>
                    <span [matTooltip]="tarea.fechaEstimacion | date:'dd/MM/yyyy'" *ngIf="diffDias(tarea.fechaEstimacion)>1" class="font-weight-bolder">Acaba en {{diffDias(tarea.fechaEstimacion)}} días</span>
                    <span [matTooltip]="tarea.fechaEstimacion | date:'dd/MM/yyyy'" *ngIf="diffDias(tarea.fechaEstimacion)==1" class="font-weight-bolder">Acaba mañana</span>
                    <span [matTooltip]="tarea.fechaEstimacion | date:'dd/MM/yyyy'" *ngIf="diffDias(tarea.fechaEstimacion)==0" class="font-weight-bolder">Termina hoy</span>
                  </ng-container>
                  <span [matTooltip]="tarea.fechaFinalizacion | date:'dd/MM/yyyy'" *ngIf="tipoTarea == 'Canceladas' || tipoTarea == 'Finalizadas'" class="font-weight-bolder">{{diffDias(tarea.fechaFinalizacion) == 0? 'Hoy' : (diffDias(tarea.fechaFinalizacion) == -1) ? 'Ayer' : ('Hace '+diffDias(tarea.fechaFinalizacion)*-1+' días')}}</span>
                  <span [matTooltip]="tarea.fechaComienzo | date:'dd/MM/yyyy'" *ngIf="tipoTarea == 'Futuras'" class="font-weight-bolder">{{diffDias(tarea.fechaComienzo) == 1? 'Mañana' : ('Se activa en '+diffDias(tarea.fechaComienzo)*-1+' días')}}</span>
                </mat-panel-description>
              </mat-expansion-panel-header>
              <p class="text-center"><b>
                  {{tarea.tipo}}<br>
                <span class="text-muted">{{tarea.subtipo1 ? tarea.subtipo1 : '' }}{{tarea.subtipo2 ? ' - '+tarea.subtipo2 : '' }} {{tarea.subtipo3 ? ' - '+tarea.subtipo3 : '' }}
              </span></b></p>
              <p *ngIf="!editFechaComienzo[tarea.id]"><b>Fecha de comienzo:</b> {{tarea.fechaComienzo | date:'dd/MM/yyyy'}}</p>
              <p *ngIf="editFechaComienzo[tarea.id]">
                  <b>Fecha de comienzo:</b>&nbsp;
                  <mat-form-field>
                      <input matInput [min]="tarea.fechaComienzo"  [max]="tarea.fechaEstimacion" [formControl]="controlFechaComienzo" [matDatepicker]="picker"  required>
                      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                      <mat-datepicker touchUi #picker></mat-datepicker>
                  </mat-form-field>
                  <button mat-icon-button class="text-success" matTooltip="Guardar" (click)="submitFechaComienzo(tarea)"><mat-icon>check_circle_outline</mat-icon></button>
                  <button mat-icon-button class="text-danger" matTooltip="Cancelar" (click)="closeSubmitFechaComienzo(tarea)"><mat-icon>cancel</mat-icon></button>
              </p>
              <p *ngIf="!editFechaFinalizacion[tarea.id]"><b>Fecha de finalización (estimada):</b> {{tarea.fechaEstimacion | date:'dd/MM/yyyy'}}</p>
              <p *ngIf="editFechaFinalizacion[tarea.id]">
                <b>Fecha de finalizacion (estimada):</b>&nbsp;
                <mat-form-field *ngIf="editFechaFinalizacion[tarea.id]">
                  <input matInput [min]="tarea.fechaComienzo" [formControl]="controlFechaFinalizacion" [matDatepicker]="picker"  required>
                  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-datepicker touchUi #picker></mat-datepicker>
                </mat-form-field>
                <button mat-icon-button class="text-success" matTooltip="Guardar" (click)="submitFechaFinalizacion(tarea)"><mat-icon>check_circle_outline</mat-icon></button>
                <button mat-icon-button class="text-danger" matTooltip="Cancelar" (click)="closeSubmitFechaFinalizacion(tarea)"><mat-icon>cancel</mat-icon></button>
              </p>
              <p *ngIf="tarea.fechaFinalizacion"><b>Fecha de finalización (real):</b> {{tarea.fechaFinalizacion | date:'dd/MM/yyyy'}}</p>
              <p>
                <b>Reponsable:</b><button class="btn btn-link" (click)="openUserDialog(tarea.responsable)"> {{findUsuario(tarea.responsable).nombre}}</button>
                <b>Grupo:</b>
                <button class="btn btn-link" *ngIf="findGrupo(tarea.grupo)" [matMenuTriggerFor]="menuGrupo"> {{findGrupo(tarea.grupo).nombre}}
                    <mat-menu #menuGrupo="matMenu">
                          <span mat-menu-item><mat-icon>stars</mat-icon>{{findUsuario(findGrupo(tarea.grupo).coordinador).nombre}}, {{findUsuario(findGrupo(tarea.grupo).coordinador).apellidos}}</span>
                          <span mat-menu-item *ngFor="let usuario of findGrupo(tarea.grupo).usuarios"><mat-icon>account_circle</mat-icon> {{findUsuario(usuario).nombre}}, {{findUsuario(usuario).apellidos}}</span>
                    </mat-menu>
                  </button>
                  <button class="btn btn-link" *ngIf="!findGrupo(tarea.grupo)"><i>Grupo eliminado</i></button>
              </p>
              <p *ngIf="tarea.descripcion"><b>Detalles:</b> {{tarea.descripcion}}</p>
              <br>
              <mat-action-row *ngIf="!editFechaComienzo[tarea.id] && !editFechaFinalizacion[tarea.id]">
                  <button *ngIf="!tarea.cancelada && !tarea.finalizada && (checkMyId(tarea.responsable) || isAdmin())" class="mx-2 bg-success text-white" mat-raised-button (click)="openConfirmDialogFinalizarTarea(tarea.id)"><mat-icon>alarm_on</mat-icon> Finalizar</button>
                  <button *ngIf="!tarea.cancelada && !tarea.finalizada && (checkMyId(tarea.responsable) || isAdmin())" class="mx-2" mat-raised-button color="warn" (click)="openConfirmDialogInterrumpirTarea(tarea)"><mat-icon>pause_circle_outline</mat-icon> Interrumpir</button>
                  <button *ngIf="!tarea.cancelada && tarea.finalizada && (checkMyId(tarea.responsable) || isAdmin())" class="mx-2 bg-info text-white" mat-button (click)="activarTarea(tarea.id)">Volver a activar</button>
                  <button *ngIf="tarea.cancelada  && !tarea.finalizada && (checkMyId(tarea.responsable) || isAdmin())" class="mx-2 bg-info text-white" mat-button (click)="reanudarTarea(tarea.id)">Volver a reanudar</button>
                  <button *ngIf="!tarea.cancelada && !tarea.finalizada" mat-icon-button matTooltip="Opciones" [matMenuTriggerFor]="menu"><mat-icon>more_horiz</mat-icon></button>
                  <button *ngIf="tarea.comentarios" matTooltip="Comentarios" mat-icon-button [matMenuTriggerFor]="comentarios"><mat-icon>question_answer</mat-icon></button>
                <mat-menu #menu="matMenu">
                  <button (click)="openConfirmDialogAnadirComentario(tarea)" mat-menu-item>
                    <mat-icon>question_answer</mat-icon>
                    Añadir comentario
                  </button>
                  <button mat-menu-item *ngIf="isCoordinador()" [matMenuTriggerFor]="modificarFechas">
                    <mat-icon>history</mat-icon>
                    <span>Modificar fechas</span>
                  </button>
                  
                  <button *ngIf="isCoordinador()" (click)="eliminarTarea(tarea.id)" mat-menu-item>
                      <mat-icon>delete</mat-icon>
                      <span>Eliminar</span>
                  </button>
                </mat-menu>
                <mat-menu #comentarios="matMenu">
                    <div class="m-2" *ngFor="let comentario of tarea.comentarios">
                      <b>Fecha: </b> {{comentario.fecha | date:'d/M H:mm:ss'}}<br>
                      {{comentario.cuerpo}}
                    </div>
                  </mat-menu>
                <mat-menu #modificarFechas="matMenu">
                  <button (click)="toggleEditFechaComienzo(tarea)" mat-menu-item>Modificar fecha comienzo</button>
                  <button (click)="toggleEditFechaFinalizacion(tarea)" mat-menu-item>Modificar fecha finalización</button>
                </mat-menu>
              </mat-action-row>
        </mat-expansion-panel>
        </ng-container>
    </div>  
    <div class="py-3" *ngIf="userSelected">      
          <p>Tareas de {{userSelected.nombre}} {{userSelected.apellidos}} <mat-icon class="text-muted float-right" matTooltip="Los propios responsables, el admin y coordinadores pueden cambiar el estado de las tareas individuales.">info</mat-icon> </p>
      <p class="text-muted text-center mt-3" *ngIf="tareas.length == 0">
        <mat-icon class="pt-1">date_range</mat-icon> No tiene tareas {{tipoTarea}}
      </p>
      <mat-expansion-panel *ngFor="let tarea of tareas" hideToggle>
        <mat-expansion-panel-header class="py-5">
          <mat-panel-title>
            <mat-icon *ngIf="tarea.finalizada" class="text-success">alarm_on</mat-icon>
            <mat-icon *ngIf="tarea.cancelada"  class="text-danger">pause_circle_outline</mat-icon>
            <b>{{tarea.tipo}}</b>
          </mat-panel-title>
          <mat-panel-description>
            <mat-icon class="mr-2" matTooltip="Contiene detalles" *ngIf="tarea.descripcion">comments</mat-icon>
            <mat-icon class="mr-2" matTooltip="Contiene comentarios" *ngIf="tarea.comentarios">question_answer</mat-icon>
            <ng-container *ngIf="tipoTarea == 'Pendientes'">
              <span [matTooltip]="tarea.fechaEstimacion | date:'dd/MM/yyyy'" *ngIf="diffDias(tarea.fechaEstimacion)<0" class="text-danger font-weight-bolder">Retrasada {{diffDias(tarea.fechaEstimacion)*-1}} días</span>
              <span [matTooltip]="tarea.fechaEstimacion | date:'dd/MM/yyyy'" *ngIf="diffDias(tarea.fechaEstimacion)>1" class="font-weight-bolder">Acaba en {{diffDias(tarea.fechaEstimacion)}} días</span>
              <span [matTooltip]="tarea.fechaEstimacion | date:'dd/MM/yyyy'" *ngIf="diffDias(tarea.fechaEstimacion)==1" class="font-weight-bolder">Acaba mañana</span>
              <span [matTooltip]="tarea.fechaEstimacion | date:'dd/MM/yyyy'" *ngIf="diffDias(tarea.fechaEstimacion)==0" class="font-weight-bolder">Termina hoy</span>
            </ng-container>
            <span [matTooltip]="tarea.fechaFinalizacion | date:'dd/MM/yyyy'" *ngIf="tipoTarea == 'Canceladas' || tipoTarea == 'Finalizadas'" class="font-weight-bolder">{{diffDias(tarea.fechaFinalizacion) == 0? 'Hoy' : (diffDias(tarea.fechaFinalizacion) == -1) ? 'Ayer' : ('Hace '+diffDias(tarea.fechaFinalizacion)*-1+' días')}}</span>
            <span [matTooltip]="tarea.fechaComienzo | date:'dd/MM/yyyy'" *ngIf="tipoTarea == 'Futuras'" class="font-weight-bolder">{{diffDias(tarea.fechaComienzo) == 1? 'Se activa mañana' : ('Se activa en '+diffDias(tarea.fechaComienzo)+' días')}}</span>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <p class="text-center"><b>
            {{tarea.tipo}}<br>
          <span class="text-muted">{{tarea.subtipo1 ? tarea.subtipo1 : '' }}{{tarea.subtipo2 ? ' - '+tarea.subtipo2 : '' }} {{tarea.subtipo3 ? ' - '+tarea.subtipo3 : '' }}
        </span></b></p>
        <p *ngIf="!editFechaComienzo[tarea.id]"><b>Fecha de comienzo:</b> {{tarea.fechaComienzo | date:'dd/MM/yyyy'}}</p>
        <p *ngIf="editFechaComienzo[tarea.id]">
            <b>Fecha de comienzo:</b>&nbsp;
            <mat-form-field>
                <input matInput [min]="tarea.fechaComienzo" [max]="tarea.fechaEstimacion" [formControl]="controlFechaComienzo" [matDatepicker]="picker"  required>
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker touchUi #picker></mat-datepicker>
            </mat-form-field>
            <button mat-icon-button class="text-success" matTooltip="Guardar" (click)="submitFechaComienzo(tarea)"><mat-icon>check_circle_outline</mat-icon></button>
            <button mat-icon-button class="text-danger" matTooltip="Cancelar" (click)="closeSubmitFechaComienzo(tarea)"><mat-icon>cancel</mat-icon></button>
        </p>
        <p *ngIf="!editFechaFinalizacion[tarea.id]"><b>Fecha de finalización (estimada):</b> {{tarea.fechaEstimacion | date:'dd/MM/yyyy'}}</p>
        <p *ngIf="editFechaFinalizacion[tarea.id]">
          <b>Fecha de finalizacion (estimada):</b>&nbsp;
          <mat-form-field *ngIf="editFechaFinalizacion[tarea.id]">
            <input matInput [min]="tarea.fechaComienzo" [formControl]="controlFechaFinalizacion" [matDatepicker]="picker"  required>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker touchUi #picker></mat-datepicker>
          </mat-form-field>
          <button mat-icon-button class="text-success" matTooltip="Guardar" (click)="submitFechaFinalizacion(tarea)"><mat-icon>check_circle_outline</mat-icon></button>
          <button mat-icon-button class="text-danger" matTooltip="Cancelar" (click)="closeSubmitFechaFinalizacion(tarea)"><mat-icon>cancel</mat-icon></button>
        </p>
        <p *ngIf="tarea.fechaFinalizacion"><b>Fecha de finalización (real):</b> {{tarea.fechaFinalizacion | date:'dd/MM/yyyy'}}</p>
        <p>
          <b>Reponsable:</b><button class="btn btn-link" (click)="openUserDialog(tarea.responsable)"> {{userSelected.nombre}}</button>
          <b>Grupo:</b>

          <button class="btn btn-link" *ngIf="findGrupo(tarea.grupo)" [matMenuTriggerFor]="menuGrupo"> {{findGrupo(tarea.grupo).nombre}}
            <mat-menu #menuGrupo="matMenu">
                  <span mat-menu-item><mat-icon>stars</mat-icon>{{findUsuario(findGrupo(tarea.grupo).coordinador).nombre}}, {{findUsuario(findGrupo(tarea.grupo).coordinador).apellidos}}</span>
                  <span mat-menu-item *ngFor="let usuario of findGrupo(tarea.grupo).usuarios"><mat-icon>account_circle</mat-icon> {{findUsuario(usuario).nombre}}, {{findUsuario(usuario).apellidos}}</span>
            </mat-menu>
          </button>
          <button class="btn btn-link" *ngIf="!findGrupo(tarea.grupo)"><i>Grupo eliminado</i></button>
          
        </p>
        <p *ngIf="tarea.descripcion"><b>Detalles:</b> {{tarea.descripcion}}</p>
        <br>
        <mat-action-row *ngIf="!editFechaComienzo[tarea.id] && !editFechaFinalizacion[tarea.id]">
          <button *ngIf="!tarea.cancelada && !tarea.finalizada" class="mx-2 bg-success text-white" mat-raised-button (click)="openConfirmDialogFinalizarTarea(tarea.id)"><mat-icon>alarm_on</mat-icon> Finalizar</button>
          <button *ngIf="!tarea.cancelada && !tarea.finalizada" class="mx-2" mat-raised-button color="warn" (click)="openConfirmDialogInterrumpirTarea(tarea)"><mat-icon>pause_circle_outline</mat-icon> Interrumpir</button>
          <button *ngIf="!tarea.cancelada && tarea.finalizada && (isCoordinador())" class="mx-2 bg-info text-white" mat-button (click)="activarTarea(tarea.id)">Volver a activar</button>
          <button *ngIf="tarea.cancelada  && !tarea.finalizada" class="mx-2 bg-info text-white" mat-button (click)="reanudarTarea(tarea.id)">Volver a reanudar</button>
          <button *ngIf="!tarea.cancelada && !tarea.finalizada" class="float-right" mat-icon-button matTooltip="Opciones" [matMenuTriggerFor]="menu"><mat-icon>more_horiz</mat-icon></button>
          <button *ngIf="tarea.comentarios" matTooltip="Comentarios" class="float-right" mat-icon-button [matMenuTriggerFor]="comentarios"><mat-icon>question_answer</mat-icon></button>
          <mat-menu #menu="matMenu">
            <button (click)="openConfirmDialogAnadirComentario(tarea)" mat-menu-item>
              <mat-icon>question_answer</mat-icon>
              Añadir comentario
            </button>
            <button mat-menu-item [matMenuTriggerFor]="modificarFechas">
              <mat-icon>history</mat-icon>
              <span>Modificar fechas</span>
            </button>
            <button (click)="eliminarTarea(tarea.id)" mat-menu-item>
                <mat-icon>delete</mat-icon>
                <span>Eliminar</span>
            </button>
          </mat-menu>
          <mat-menu #comentarios="matMenu">
            <div class="m-2" *ngFor="let comentario of tarea.comentarios">
              <b>Fecha: </b> {{comentario.fecha | date:'d/M H:mm:ss'}}<br>
              {{comentario.cuerpo}}
            </div>
          </mat-menu>
          <mat-menu #modificarFechas="matMenu">
            <button (click)="toggleEditFechaComienzo(tarea)" mat-menu-item>Modificar fecha comienzo</button>
            <button (click)="toggleEditFechaFinalizacion(tarea)" mat-menu-item>Modificar fecha finalización</button>
          </mat-menu>
        </mat-action-row>
      </mat-expansion-panel>
    </div>
  </mat-accordion>
</div>
<button class="float-button"matTooltip="Añadir tareas" *ngIf="isCoordinador()" mat-mini-fab [routerLink]="[ '../../tareas/formulario' ]" color="primary"> <mat-icon class="addIcon">add</mat-icon></button>