.float-button{
    width: 55px;
    height: 55px;
/*     background: #db4437; */
    position: fixed;
    bottom: 30px;
    right: 30px;
    box-shadow: 0px 2px 5px #666;
}

.mat-expansion-panel-header-description {
    position: absolute;
    right: 52px;
}

.mat-expansion-panel-header-title {
    margin-right: 7rem!important;
}

.addIcon{
    transform: scale(1.5);
}