.example-additional-selection {
    opacity: 0.75;
    font-size: 0.75em;
  }

.big-icon{
  transform: scale(1.6);
}

.button-left, .button-right{
  width: 55px;
  height: 55px;
  position: fixed;
  bottom: 30px;
  box-shadow: 0px 2px 5px #666;
}

.button-right{
  right: 30px;
}

.button-left{
  left: 30px;
}