<div class="offset-md-3 col-md-6">

    <h4 class="text-muted mat-dialog-title">Añadir Tareas</h4>

    <mat-radio-group [(formControl)]="controlGrupal">
        <mat-radio-button class="p-2" [value]="true">Grupal</mat-radio-button>
        <mat-radio-button class="p-2" [value]="false">Individual</mat-radio-button>
    </mat-radio-group>

    <button mat-icon-button matTooltip="Para poder crear tareas antes debe tener a su cargo algún grupo. Los usuarios marcados en rojo son usuarios bloqueados." class="float-right text-muted">
      <mat-icon>info</mat-icon>
    </button>

    <mat-form-field class="w-100">
      <mat-select placeholder="Tipo de tarea" [formControl]="controlTipo" required>
          <mat-optgroup *ngFor="let fase of fases" [label]="fase.nombre" [disabled]="false">
            <mat-option *ngFor="let tarea of fase.tareas" [value]="tarea">
              {{tarea.nombre}}
            </mat-option>
          </mat-optgroup>
      </mat-select>
      <mat-error *ngIf="controlTipo.hasError('required')">Campo <strong>obligatorio</strong></mat-error>
    </mat-form-field>
    <!-- Tira error ya que el controlform no contiene tareas en un inicio -->
    <mat-form-field *ngIf="controlTipo.value.tareas && controlTipo.value.tareas.length > 0" class="w-100">
      <mat-select placeholder="Tipo de subtarea" [formControl]="controlSubtipo" required>
          <mat-option *ngFor="let subtarea of controlTipo.value.tareas" [value]="subtarea">
            {{subtarea.nombre}}
          </mat-option>
      </mat-select>
      <mat-error *ngIf="controlSubtipo.hasError('required')">Campo <strong>obligatorio</strong></mat-error>
    </mat-form-field>

    <mat-form-field class="w-100">
      <input matInput [min]="minDatepicker" [formControl]="controlFecha" [matDatepicker]="picker" placeholder="Fecha de comienzo" required (dateChange)="dateChange($event)">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker touchUi #picker></mat-datepicker>
      <mat-error *ngIf="controlFecha.hasError('required')">Campo <strong>obligatorio</strong></mat-error>
    </mat-form-field>

<!--     <mat-form-field class="w-50" *ngIf="!controlGrupal.value">
        <input matInput [min]="minDateFinishpicker" [formControl]="controlFechaEstimacion" [matDatepicker]="picker" placeholder="Fecha de finalización(opcional)">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker touchUi #picker></mat-datepicker>
        <mat-error *ngIf="controlFecha.hasError('required')">Campo <strong>obligatorio</strong></mat-error>
    </mat-form-field> -->

    <mat-form-field class="w-100">
      <input matInput placeholder="Duración en días" type="number" [value]="controlRepit.value" disabled>
      <button mat-icon-button matSuffix class="mr-2" (click)="addRepit()"><mat-icon class="big-icon">add</mat-icon></button>
      <button mat-icon-button matSuffix class="mr-2" (click)="subRepit()"><mat-icon class="big-icon">remove</mat-icon></button>
      <mat-error *ngIf="controlFecha.hasError('required')">Campo <strong>obligatorio</strong>, con rango de 1 a 30 dias máximo</mat-error>
    </mat-form-field> 

    <mat-radio-group class="w-100" [formControl]="controlGrupo">
        <mat-hint>Seleccione grupo *</mat-hint><br>
        <ng-container *ngFor="let grupo of misGrupos">
          <mat-radio-button *ngIf="controlGrupal.value" class="p-2" [value]="grupo" >{{grupo.nombre}}</mat-radio-button>
          <mat-radio-button *ngIf="!controlGrupal.value" class="p-2" [value]="grupo" (click)="getUsariosPorGrupo(grupo)">{{grupo.nombre}}</mat-radio-button>
        </ng-container>
        <mat-hint *ngIf="misGrupos.length == 0">No administra ningun grupo</mat-hint>
    </mat-radio-group>

    <mat-form-field class="w-100" *ngIf="!controlGrupal.value && usuarios.length > 0">
      <mat-select placeholder="Elige responsable/s de la tarea" [formControl]="controlUsuarios" multiple required>
        <mat-select-trigger>
          {{controlUsuarios.value[0] ? controlUsuarios.value[0].nombre+','+controlUsuarios.value[0].apellidos : ''}}
          <span *ngIf="controlUsuarios.value?.length > 1" class="example-additional-selection">
            (+{{controlUsuarios.value.length - 1}} {{controlUsuarios.value?.length === 2 ? 'persona' : 'personas'}})
          </span>
        </mat-select-trigger>
        <mat-option *ngFor="let usuario of usuarios" [ngClass]="{'text-danger': usuario.baneado}" [value]="usuario">{{usuario.nombre}},{{usuario.apellidos}} - {{usuario.rol | lowercase}}</mat-option>
      </mat-select>
      <mat-error *ngIf="controlUsuarios.hasError('required')">Debe añadir al menos a <strong>1</strong> trabajador</mat-error>
    </mat-form-field>

    <mat-form-field class="w-100 pb-5">
      <textarea matInput placeholder="Descripción (opcional)" rows="2" [formControl]="controlDescrip"></textarea>
    </mat-form-field>
 
    <br>
  </div>
  <button class="button-right bg-success" matTooltip="Guardar tareas" (click)="submit()" mat-mini-fab color="primary"> <mat-icon class="big-icon">save</mat-icon></button>
  <button class="button-left bg-info" matTooltip="Volver" (click)="goBack()" mat-mini-fab color="primary"> <mat-icon class="big-icon">arrow_back</mat-icon></button>