<div class="offset-md-3 col-md-6">
    <mat-form-field class="w-100">
      <mat-select placeholder="Tipo de tarea" [formControl]="controlTipo" required>
          <mat-optgroup *ngFor="let fase of fases" [label]="fase.nombre" [disabled]="false">
            <mat-option *ngFor="let tarea of fase.tareas" [value]="tarea">
              {{tarea.nombre}}
            </mat-option>
          </mat-optgroup>
      </mat-select>
      <mat-error *ngIf="controlTipo.hasError('required')">Campo <strong>obligatorio</strong></mat-error>
    </mat-form-field>
    <!-- Tira error ya que el controlform no contiene tareas en un inicio -->
    <mat-form-field *ngIf="controlTipo.value.tareas && controlTipo.value.tareas.length > 0" class="w-100">
      <mat-select placeholder="Tipo de subtarea" [formControl]="controlSubtipo" required>
          <mat-option *ngFor="let subtarea of controlTipo.value.tareas" [value]="subtarea">
            {{subtarea.nombre}}
          </mat-option>
      </mat-select>
      <mat-error *ngIf="controlSubtipo.hasError('required')">Campo <strong>obligatorio</strong></mat-error>
    </mat-form-field>

    <mat-form-field class="w-100">
      <mat-select placeholder="Elige los usuarios de la tarea" [formControl]="controlUsuarios" multiple required>
        <mat-select-trigger>
          {{controlUsuarios.value[0] ? controlUsuarios.value[0].nombre+','+controlUsuarios.value[0].apellidos : ''}}
          <span *ngIf="controlUsuarios.value?.length > 1" class="example-additional-selection">
            (+{{controlUsuarios.value.length - 1}} {{controlUsuarios.value?.length === 2 ? 'persona' : 'personas'}})
          </span>
        </mat-select-trigger>
        <mat-option *ngFor="let usuario of usuarios" [value]="usuario">{{usuario.nombre}},{{usuario.apellidos}}-{{usuario.empleado}}</mat-option>
      </mat-select>
      <mat-error *ngIf="controlUsuarios.hasError('required')">Debe añadir al menos a <strong>1</strong> trabajador</mat-error>
    </mat-form-field>

    <mat-form-field class="w-50">
      <input matInput [min]="minDatepicker" [formControl]="controlFecha" [matDatepicker]="picker" placeholder="Fecha de comienzo" required>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker touchUi #picker></mat-datepicker>
      <mat-error *ngIf="controlFecha.hasError('required')">Campo <strong>obligatorio</strong></mat-error>
    </mat-form-field>

    <mat-form-field class="w-50">
      <input matInput placeholder="Duración en días" type="number" [formControl]="controlRepit" required>
      <mat-error *ngIf="controlFecha.hasError('required')">Campo <strong>obligatorio</strong>, con rango de 1 a 30 dias máximo</mat-error>
    </mat-form-field>

    <mat-form-field class="w-100">
      <textarea matInput placeholder="Descripción (opcional)" rows="2" [formControl]="controlDescrip"></textarea>
    </mat-form-field>
 
    <br>
    <a mat-raised-button class="my-3" color="accent" (click)="submit()"><mat-icon>add</mat-icon> Añadir/actualizar</a>
  </div>