<div class="offset-md-3 col-md-6">
  <h4 class="text-muted mat-dialog-title" *ngIf="editar">Editar Usuario <!-- <mat-icon class="float-right">info</mat-icon> --></h4>
  <h4 class="text-muted mat-dialog-title" *ngIf="!editar">Registar Usuario <!-- <mat-icon class="float-right">info</mat-icon> --></h4>
  <mat-form-field class="pt-3 w-100">
    <input matInput maxlength="50" placeholder="Nombre" [formControl]="controlNombre" required>
    <mat-error *ngIf="controlNombre.hasError('required')">Campo obligatorio</mat-error>
    <mat-hint align="end">{{controlNombre.value.length}} / 50</mat-hint>
  </mat-form-field>
  <mat-form-field class="w-100">
    <input matInput maxlength="50" placeholder="Apellidos"  [formControl]="controlApellidos" required>
    <mat-error *ngIf="controlApellidos.hasError('required')">Campo obligatorio</mat-error>
    <mat-hint align="end">{{controlApellidos.value.length}} / 50</mat-hint>
  </mat-form-field>
  <mat-form-field class="w-100">
    <mat-select placeholder="Rol" [formControl]="controlRol" required [disabled]="editar">
        <mat-option value="TRABAJADOR">Trabajador</mat-option>
        <mat-option value="COORDINADOR">Coordinador</mat-option>
        <mat-option *ngIf="controlRol.value == 'ADMIN'" value="ADMIN">Administrador</mat-option>
    </mat-select>
    <mat-error *ngIf="controlRol.hasError('required')">Campo obligatorio</mat-error>
  </mat-form-field>
  <mat-form-field class="w-100">  
    <input type="number" matInput placeholder="Nº de empleado" [formControl]="controlEmpleado" [attr.disabled]="editar" required>
    <mat-error *ngIf="controlEmpleado.hasError('required')">Campo obligatorio</mat-error>
    <mat-hint align="end">{{(controlEmpleado.value ? controlEmpleado.value.toString().length : 0)}} / 21</mat-hint>
    <mat-error *ngIf="controlEmpleado.hasError('pattern')">Solo valores numéricos</mat-error>
  </mat-form-field>
  <mat-form-field class="w-100">
    <span matPrefix>+34 &nbsp;</span>
    <input type="tel" matInput maxlength="9" placeholder="Teléfono" [formControl]="controlTelefono" required>
    <mat-icon matSuffix>phone</mat-icon>
    <mat-hint align="end">{{controlTelefono.value.length}} / 9</mat-hint>
    <mat-error *ngIf="controlTelefono.hasError('required')">Campo obligatorio</mat-error>
    <mat-error *ngIf="controlTelefono.hasError('pattern')">Solo valores numéricos</mat-error>
  </mat-form-field>
  <mat-radio-group class="w-100" [formControl]="controlGenero">
    <label class="pt-3 pr-2">Género:</label>
    <mat-radio-button class="pr-2"  value="MUJER">Mujer</mat-radio-button>
    <mat-radio-button  value="HOMBRE">Hombre</mat-radio-button>
  </mat-radio-group>
</div>

<button class="button-right  bg-success" *ngIf="editar" matTooltip="Guardar Usuario" (click)="updateUsuario()" mat-mini-fab color="primary"> <mat-icon class="big-icon">save</mat-icon></button>
<button class="button-right  bg-success" *ngIf="!editar" matTooltip="Guardar Usuario" (click)="addUsuario()" mat-mini-fab color="primary"> <mat-icon class="big-icon">save</mat-icon></button>
<button class="button-left bg-info" matTooltip="Volver" (click)="goBack()" mat-mini-fab color="primary"> <mat-icon class="big-icon">arrow_back</mat-icon></button>