<div class="offset-md-3 col-md-6">
  <mat-form-field class="w-100">
    <input matInput placeholder="nombre" (keyup)="setNombre($event.target.value)" required>
  </mat-form-field>
  <mat-form-field class="w-100">
    <input matInput placeholder="apellidos" (keyup)="setApellidos($event.target.value)" required>
  </mat-form-field>
  <mat-form-field class="w-100">
    <input matInput placeholder="rol" (keyup)="setRol($event.target.value)" required>
  </mat-form-field>
  <mat-form-field class="w-100">
    <input matInput placeholder="usuario" (keyup)="setUsuario($event.target.value)" required>
  </mat-form-field>
  <mat-form-field class="w-100">  
    <input matInput placeholder="empleado" (keyup)="setEmpleado($event.target.value)" required>
  </mat-form-field>
  <br>
  <a mat-raised-button class="btn-block mb-5" color="primary" (click)="addUsuario()"><mat-icon>add_circle_outline</mat-icon> Añadir/actualizar</a>

</div>