<div class="fullscreen main text-center">
  <div class="pt-5 my-5">
      <img src="../../../assets/icons/icon-72x72.png">
  </div>
  <mat-form-field appearance="outline">
    <mat-label>Número de empleado</mat-label>
    <input matInput [(formControl)]="control" (keyup.enter)="login()">
    <mat-spinner matSuffix *ngIf="loading" [diameter]="30"></mat-spinner>
    <button mat-icon-button matSuffix *ngIf="!loading" (click)="login()" (keydown)="enter($event)" matTooltip="Click para acceder"><mat-icon>arrow_forward</mat-icon></button>
    <mat-hint class="text-danger" *ngIf="error">Número de empleado <strong>inválido</strong></mat-hint>
    <mat-hint class="text-danger" *ngIf="errorBloqueado">Este empleado está <strong>bloqueado</strong></mat-hint>
  </mat-form-field>
  <div class="footer">
    En colaboración con: <img height="60px" src="../../../assets/images/AGRORIFER.png">
  </div>
  <p class="text-center">Acceder como:</p>
  <mat-button-toggle-group #group="matButtonToggleGroup">
    <mat-button-toggle (click)="admin()">
      Administrador
    </mat-button-toggle>
    <mat-button-toggle (click)="coordinador()">
      Coordinador
    </mat-button-toggle>
    <mat-button-toggle (click)="trabajador()">
      Trabajador
    </mat-button-toggle>
  </mat-button-toggle-group>

</div>