.big-icon{
    transform: scale(1.2)
}

.border-tareas{
    border-radius: 3px;
    padding-left: 0.8rem;
    border-left: 0 solid #ff980091;
    transition: border-left 150ms ease-in-out, padding-left 150ms ease-in-out;
}

.border-tareas:hover {
    padding-left: 0.5rem;
    border-left: 0.3rem solid #ff980091!important;
}

.margin-top-especial {
      margin-top: 150px;
}
