<h4 class="text-warning pl-3">Pendientes</h4>
<div class="table-responsive">
<table mat-table [dataSource]="dataSourcePendientes" matSort #tableSort="matSort" class="mat-elevation-z6 w-100">

    <ng-container matColumnDef="fecha">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha de creación </th>
        <td mat-cell *matCellDef="let element"> {{element.fechaCreacion | date:'dd/MM/yyyy HH:mm:ss'}} </td>
    </ng-container>
  
    <ng-container matColumnDef="prioridad">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Prioridad </th>
      <td mat-cell *matCellDef="let element"><mat-icon [ngClass]="{
        'text-danger': element.prioridad == 'Alta',
        'text-warning': element.prioridad == 'Media','text-muted': element.prioridad == 'Baja'}">warning</mat-icon> {{element.prioridad}} </td>
    </ng-container>

    <ng-container matColumnDef="tipo">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Tipo </th>
        <td mat-cell *matCellDef="let element"> {{element.tipo}} </td>
    </ng-container>

    <ng-container matColumnDef="zona">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Lugar/Ubicación </th>
        <td mat-cell *matCellDef="let element">
          <ng-container *ngIf="element.zona">
            <button class="btn btn-link" [matMenuTriggerFor]="menu">Localización</button>
            <mat-menu class="p-4" #menu="matMenu">
              <p *ngIf="element.zona.invernadero"><b>Invernadero:</b> {{element.zona.invernadero}}</p>
              <p *ngIf="element.zona.sector"><b>Sector:</b> {{element.zona.sector}}</p>
              <p *ngIf="element.zona.tabla"><b>Tabla:</b> {{element.zona.tabla}}</p>
              <p *ngIf="element.zona.numero_planta"><b>Planta:</b> {{element.zona.numero_planta}}</p>
            </mat-menu>
          </ng-container>
          <span *ngIf="!element.zona">Fuera del terreno</span>
          <ng-container *ngIf="element.ubicacion">
            <button mat-icon-button color="primary" (click)="showMap(true)"><mat-icon>pin_drop</mat-icon></button>
            <app-map *ngIf="activoMapa" [register]=false [coordinates]="element.ubicacion" (action)="showMap(false)"></app-map>  
          </ng-container>  
        </td>
    </ng-container>

    <ng-container matColumnDef="autor">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Autor </th>
        <td mat-cell *matCellDef="let element"> <button class="btn btn-link" (click)="openUserDialog(element.autor)">{{element.autor.nombre}}</button> </td>
    </ng-container>

    <ng-container matColumnDef="acciones">
        <th mat-header-cell *matHeaderCellDef>  </th>
        <td mat-cell *matCellDef="let element">            
          <a   matTooltip="Mostrar detalles" (click)="openIncidentDialog(element)" mat-icon-button color="primary">
            <mat-icon>zoom_in</mat-icon>
          </a>
          <a matTooltip="Marcar como atendida" class="text-success"  (click)="incidenciaAtendida(element)" mat-icon-button>
            <mat-icon>check</mat-icon>
          </a>
        </td>
      </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <mat-paginator #paginator [pageSizeOptions]="[ 10, 25, 50]" showFirstLastButtons></mat-paginator>
</div>

<h4 class="text-info pt-3 pl-3">Atendidas</h4>
<div class="table-responsive">
    <table mat-table [dataSource]="dataSourceAtendidas" matSort #tableSort2="matSort" class="mat-elevation-z6 w-100">
    
        <ng-container matColumnDef="fecha">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha de atención </th>
            <td mat-cell *matCellDef="let element"> {{element.fechaAtendida | date:'dd/MM/yyyy HH:mm:ss'}} </td>
        </ng-container>
      
        <ng-container matColumnDef="prioridad">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Prioridad </th>
          <td mat-cell *matCellDef="let element"><mat-icon  [ngClass]="{
            'text-danger': element.prioridad == 'Alta',
            'text-warning': element.prioridad == 'Media','text-muted': element.prioridad == 'Baja'}">warning</mat-icon> {{element.prioridad}} </td>
        </ng-container>
    
        <ng-container matColumnDef="tipo">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Tipo </th>
            <td mat-cell *matCellDef="let element"> {{element.tipo}} </td>
        </ng-container>
    
        <ng-container matColumnDef="zona">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Lugar/Ubicación </th>
          <td mat-cell *matCellDef="let element">
            <ng-container *ngIf="element.zona">
              <button class="btn btn-link" [matMenuTriggerFor]="menu">Localización</button>
              <mat-menu class="p-4" #menu="matMenu">
                <p *ngIf="element.zona.invernadero"><b>Invernadero:</b> {{element.zona.invernadero}}</p>
                <p *ngIf="element.zona.sector"><b>Sector:</b> {{element.zona.sector}}</p>
                <p *ngIf="element.zona.tabla"><b>Tabla:</b> {{element.zona.tabla}}</p>
                <p *ngIf="element.zona.numero_planta"><b>Planta:</b> {{element.zona.numero_planta}}</p>
              </mat-menu>
            </ng-container>
            <span *ngIf="!element.zona">Fuera del terreno</span>
            <ng-container *ngIf="element.ubicacion">
              <button mat-icon-button color="primary" (click)="showMap(true)"><mat-icon>pin_drop</mat-icon></button>
              <app-map *ngIf="activoMapa" [register]=false [coordinates]="element.ubicacion" (action)="showMap(false)"></app-map>  
            </ng-container>  
          </td>
        </ng-container>
    
        <ng-container matColumnDef="autor">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Autor </th>
            <td mat-cell *matCellDef="let element"> <button class="btn btn-link" (click)="openUserDialog(element.autor)">{{element.autor.nombre}}</button> </td>
        </ng-container>
    
        <ng-container matColumnDef="acciones">
            <th mat-header-cell *matHeaderCellDef>  </th>
            <td mat-cell *matCellDef="let element">               
              <a   matTooltip="Mostrar detalles" (click)="openIncidentDialog(element)" mat-icon-button color="primary">
                <mat-icon>zoom_in</mat-icon>
              </a>
              <a matTooltip="Marcar como resuelta" class="text-success" (click)="incidenciaResuelta(element)" mat-icon-button >
                <mat-icon>done_all</mat-icon>
              </a>  
            </td>
          </ng-container>
      
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      <mat-paginator #paginator2 [pageSizeOptions]="[ 10, 25, 50]" showFirstLastButtons></mat-paginator>
</div>

<h4 class="text-success pt-3 pl-3">Resueltas</h4>
<div class="table-responsive">
    <table mat-table [dataSource]="dataSourceResueltas" matSort #tableSort3="matSort" class="mat-elevation-z6 w-100">
    
        <ng-container matColumnDef="fecha">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha de resolución </th>
            <td mat-cell *matCellDef="let element"> {{element.fechaResuelta | date:'dd/MM/yyyy HH:mm:ss'}} </td>
        </ng-container>
      
        <ng-container matColumnDef="prioridad">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Prioridad </th>
          <td mat-cell *matCellDef="let element"><mat-icon [ngClass]="{
            'text-danger': element.prioridad == 'Alta',
            'text-warning': element.prioridad == 'Media','text-muted': element.prioridad == 'Baja'}">warning</mat-icon> {{element.prioridad}} </td>
        </ng-container>
    
        <ng-container matColumnDef="tipo">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Tipo </th>
            <td mat-cell *matCellDef="let element"> {{element.tipo}} </td>
        </ng-container>
    
        <ng-container matColumnDef="zona">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Lugar/Ubicación </th>
          <td mat-cell *matCellDef="let element">
            <ng-container *ngIf="element.zona">
              <button class="btn btn-link" [matMenuTriggerFor]="menu">Localización</button>
              <mat-menu class="p-4" #menu="matMenu">
                <p *ngIf="element.zona.invernadero"><b>Invernadero:</b> {{element.zona.invernadero}}</p>
                <p *ngIf="element.zona.sector"><b>Sector:</b> {{element.zona.sector}}</p>
                <p *ngIf="element.zona.tabla"><b>Tabla:</b> {{element.zona.tabla}}</p>
                <p *ngIf="element.zona.numero_planta"><b>Planta:</b> {{element.zona.numero_planta}}</p>
              </mat-menu>
            </ng-container>
            <span *ngIf="!element.zona">Fuera del terreno</span>
            <ng-container *ngIf="element.ubicacion">
              <button mat-icon-button color="primary" (click)="showMap(true)"><mat-icon>pin_drop</mat-icon></button>
              <app-map *ngIf="activoMapa" [register]=false [coordinates]="element.ubicacion" (action)="showMap(false)"></app-map>  
            </ng-container>  
          </td>
        </ng-container>
    
        <ng-container matColumnDef="autor">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Autor </th>
            <td mat-cell *matCellDef="let element"> <button class="btn btn-link" (click)="openUserDialog(element.autor)">{{element.autor.nombre}}</button> </td>
        </ng-container>
    
        <ng-container matColumnDef="acciones">
            <th mat-header-cell *matHeaderCellDef>  </th>
            <td mat-cell *matCellDef="let element">               
              <a matTooltip="Mostrar detalles" (click)="openIncidentDialog(element)" mat-icon-button color="primary">
                <mat-icon>zoom_in</mat-icon>
              </a> 
            </td>
          </ng-container>
      
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      <mat-paginator #paginator3 [pageSizeOptions]="[ 10, 25, 50]" showFirstLastButtons></mat-paginator>
</div>