<h4 class="text-warning pl-3">Pendientes</h4>
<div class="table-responsive">
<table mat-table [dataSource]="dataSourcePendientes" matSort #tableSort="matSort" class="mat-elevation-z6 w-100">

    <ng-container matColumnDef="fecha">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha de creación </th>
        <td mat-cell *matCellDef="let element"> {{element.fechaCreacion | date:'dd/MM/yyyy HH:mm:ss'}} </td>
    </ng-container>
  
    <ng-container matColumnDef="tipo">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Prioridad/Tipo</th>
        <td mat-cell *matCellDef="let element">         
          <mat-icon [matTooltip]="element.prioridad" 
          [ngClass]="{
          'text-danger': element.prioridad == 'Alta',
          'text-warning': element.prioridad == 'Media',
          'text-muted': element.prioridad == 'Baja'}">warning</mat-icon>
          {{element.tipo}} </td>
    </ng-container>

    <ng-container matColumnDef="zona">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Instalaciones </th>
        <td mat-cell *matCellDef="let element">
          <ng-container *ngIf="element.zona">
            <button class="btn btn-link" [matMenuTriggerFor]="menu">Dentro</button>
            <mat-menu class="p-4" #menu="matMenu">
              <p *ngIf="element.zona.invernadero"><b>Invernadero:</b> {{element.zona.invernadero}}</p>
              <p *ngIf="element.zona.sector"><b>Sector:</b> {{element.zona.sector}}</p>
              <p *ngIf="element.zona.tabla"><b>Tabla:</b> {{element.zona.tabla}}</p>
              <p *ngIf="element.zona.numero_planta"><b>Planta:</b> {{element.zona.numero_planta}}</p>
            </mat-menu>
          </ng-container>
          <ng-container *ngIf="element.ubicacion">
            <button class="btn btn-link" (click)="showMap(true, element.ubicacion)">Fuera</button>
          </ng-container>  
        </td>
    </ng-container>

    <ng-container matColumnDef="autor">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Creada por </th>
        <td mat-cell *matCellDef="let element"> <button class="btn btn-link" (click)="openUserDialog(element.autor)">{{element.autor.nombre}}</button> </td>
    </ng-container>

    <ng-container matColumnDef="acciones">
        <th mat-header-cell *matHeaderCellDef>  </th>
        <td mat-cell *matCellDef="let element">            
          <a   matTooltip="Mostrar detalles" (click)="openIncidentDialog(element)" mat-icon-button color="primary">
            <mat-icon>zoom_in</mat-icon>
          </a>
          <a matTooltip="Atender incidencia" class="text-success"  (click)="incidenciaAtendida(element)" mat-icon-button>
            <mat-icon>check</mat-icon>
          </a>
        </td>
      </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns1"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns1;"></tr>
  </table>
  <mat-paginator #paginator [pageSizeOptions]="[5, 10, 25, 50]" showFirstLastButtons></mat-paginator>
</div>

<h4 class="text-info pt-3 pl-3">Atendidas <mat-icon matTooltip="Una incidencia ATENDIDA solo puede ser resuelta por el usuario que la atiende">info</mat-icon></h4>
<div class="table-responsive">
    <table mat-table [dataSource]="dataSourceAtendidas" matSort #tableSort2="matSort" class="mat-elevation-z6 w-100">
    
        <ng-container matColumnDef="fecha">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha de atención </th>
            <td mat-cell *matCellDef="let element"> {{element.fechaAtendida | date:'dd/MM/yyyy HH:mm:ss'}} </td>
        </ng-container>
      
        <ng-container matColumnDef="tipo">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Prioridad/Tipo</th>
            <td mat-cell *matCellDef="let element"> 
              <mat-icon [matTooltip]="element.prioridad" 
                [ngClass]="{
                'text-danger': element.prioridad == 'Alta',
                'text-warning': element.prioridad == 'Media',
                'text-muted': element.prioridad == 'Baja'}">warning</mat-icon>
                {{element.tipo}} </td>
        </ng-container>

        <ng-container matColumnDef="responsable">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Atendida por </th>
          <td mat-cell *matCellDef="let element"> <button class="btn btn-link" (click)="openUserDialog(findUsuario(element.responsable))">{{findUsuario(element.responsable).nombre}}</button></td>
        </ng-container>
    
        <ng-container matColumnDef="zona">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Instalaciones </th>
          <td mat-cell *matCellDef="let element">
            <ng-container *ngIf="element.zona">
              <button class="btn btn-link" [matMenuTriggerFor]="menu">Dentro</button>
              <mat-menu class="p-4" #menu="matMenu">
                <p *ngIf="element.zona.invernadero"><b>Invernadero:</b> {{element.zona.invernadero}}</p>
                <p *ngIf="element.zona.sector"><b>Sector:</b> {{element.zona.sector}}</p>
                <p *ngIf="element.zona.tabla"><b>Tabla:</b> {{element.zona.tabla}}</p>
                <p *ngIf="element.zona.numero_planta"><b>Planta:</b> {{element.zona.numero_planta}}</p>
              </mat-menu>
            </ng-container>
            <ng-container *ngIf="element.ubicacion">
              <button class="btn btn-link" (click)="showMap(true, element.ubicacion)">Fuera</button>
            </ng-container>  
          </td>
        </ng-container>
    
        <ng-container matColumnDef="autor">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Creada por </th>
            <td mat-cell *matCellDef="let element"> <button class="btn btn-link" (click)="openUserDialog(element.autor)">{{element.autor.nombre}}</button> </td>
        </ng-container>
    
        <ng-container matColumnDef="acciones">
            <th mat-header-cell *matHeaderCellDef>  </th>
            <td mat-cell *matCellDef="let element">               
              <a   matTooltip="Mostrar detalles" (click)="openIncidentDialog(element)" mat-icon-button color="primary">
                <mat-icon>zoom_in</mat-icon>
              </a>
              <a *ngIf="element.responsable == myId()" matTooltip="Marcar como resuelta" class="text-success" (click)="incidenciaResuelta(element)" mat-icon-button >
                <mat-icon>done_all</mat-icon>
              </a>  
              <a *ngIf="element.responsable == myId() || isAdmin()" matTooltip="No atender incidencia"  (click)="cancelarIncidenciaAtendida(element)" class="text-danger" mat-icon-button >
                <mat-icon>cancel_presentation</mat-icon>
              </a>
            </td>
          </ng-container>
      
        <tr mat-header-row *matHeaderRowDef="displayedColumns2"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns2;"></tr>
      </table>
      <mat-paginator #paginator2 [pageSizeOptions]="[5, 10, 25, 50]" showFirstLastButtons></mat-paginator>
</div>

<h4 class="text-success pt-3 pl-3">Resueltas</h4>
<div class="table-responsive">
    <table mat-table [dataSource]="dataSourceResueltas" matSort #tableSort3="matSort" class="mat-elevation-z6 w-100">
    
        <ng-container matColumnDef="fecha">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha de resolución </th>
            <td mat-cell *matCellDef="let element"> {{element.fechaResuelta | date:'dd/MM/yyyy HH:mm:ss'}} </td>
        </ng-container>
    
        <ng-container matColumnDef="tipo">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Prioridad/Tipo</th>
            <td mat-cell *matCellDef="let element"> 
                <mat-icon [matTooltip]="element.prioridad" 
                [ngClass]="{
                'text-danger': element.prioridad == 'Alta',
                'text-warning': element.prioridad == 'Media',
                'text-muted': element.prioridad == 'Baja'}">warning</mat-icon>
              {{element.tipo}} </td>
        </ng-container>

        <ng-container matColumnDef="responsable">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Atendida por </th>
          <td mat-cell *matCellDef="let element"> <button class="btn btn-link" (click)="openUserDialog(findUsuario(element.responsable))">{{findUsuario(element.responsable).nombre}}</button> </td>
        </ng-container>
    
        <ng-container matColumnDef="zona">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Instalaciones </th>
          <td mat-cell *matCellDef="let element">
            <ng-container *ngIf="element.zona">
              <button class="btn btn-link" [matMenuTriggerFor]="menu">Dentro</button>
              <mat-menu class="p-4" #menu="matMenu">
                <p *ngIf="element.zona.invernadero"><b>Invernadero:</b> {{element.zona.invernadero}}</p>
                <p *ngIf="element.zona.sector"><b>Sector:</b> {{element.zona.sector}}</p>
                <p *ngIf="element.zona.tabla"><b>Tabla:</b> {{element.zona.tabla}}</p>
                <p *ngIf="element.zona.numero_planta"><b>Planta:</b> {{element.zona.numero_planta}}</p>
              </mat-menu>
            </ng-container>
            <ng-container *ngIf="element.ubicacion">
                <button class="btn btn-link" (click)="showMap(true, element.ubicacion)">Fuera</button>
            </ng-container>  
          </td>
        </ng-container>
    
        <ng-container matColumnDef="autor">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Creada por </th>
            <td mat-cell *matCellDef="let element"> <button class="btn btn-link" (click)="openUserDialog(element.autor)">{{element.autor.nombre}}</button> </td>
        </ng-container>
    
        <ng-container matColumnDef="acciones">
            <th mat-header-cell *matHeaderCellDef>  </th>
            <td mat-cell *matCellDef="let element">               
              <a matTooltip="Mostrar detalles" (click)="openIncidentDialog(element)" mat-icon-button color="primary">
                <mat-icon>zoom_in</mat-icon>
              </a> 
            </td>
          </ng-container>
      
        <tr mat-header-row *matHeaderRowDef="displayedColumns2"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns2;"></tr>
      </table>
      <mat-paginator #paginator3 [pageSizeOptions]="[5, 10, 25, 50]" showFirstLastButtons></mat-paginator>
</div>

<app-map *ngIf="activoMapa" [register]=false [coordinates]="ubicacion" (action)="showMap(false)"></app-map>  