<mat-sidenav-container class="example-container" fullscreen>
    
    <mat-sidenav #sidenav mode="over" (click)="sidenav.toggle()"> 
      <app-menu></app-menu>
    </mat-sidenav>

    <mat-sidenav-content>
        <div class="fixed-top bg-white">
            <button mat-button class="m-3" (click)="sidenav.toggle()"><mat-icon>menu</mat-icon>Abrir menu</button>
            <small>v.1.0.3</small>
            <button mat-button class="m-3 float-right" (click)="openIncidenceDialog()">
              <mat-icon>warning</mat-icon>
            </button>
            <button mat-button class="m-3 float-right" [routerLink]="['/notificaciones']">
              <mat-icon>notifications</mat-icon>
            </button>
        </div>
        <div style="margin-top: 92px;">
          <router-outlet></router-outlet>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>


