<mat-sidenav-container class="example-container" fullscreen>
    <mat-sidenav #sidenav mode="over" (click)="sidenav.toggle()">  
        <mat-card class="m-5 clickable" [routerLink]="['/lista']"> 
          <mat-icon>view_list</mat-icon> Listar
        </mat-card>
        <mat-card class="m-5 clickable" [routerLink]="['/formulario']">
          <mat-icon>edit</mat-icon> Crear/modificar
        </mat-card>
        <mat-card class="m-5 clickable" [routerLink]="['/listaDraggable']">
          <mat-icon>drag_handle</mat-icon> Listas Arrastrables 
        </mat-card>
        <mat-card class="m-5 clickable" [routerLink]="['/notificacion']">
          <mat-icon>notifications_rounded</mat-icon> Notificaciones push
        </mat-card>
    </mat-sidenav>
  
    <mat-sidenav-content>
        <div class="fixed-top bg-white">
            <button mat-button class="m-3" (click)="sidenav.toggle()"><mat-icon>menu</mat-icon>Abrir menu</button>
        </div>
        <div class="text-center pt-5">
            <h1 class="pb-0 pt-5">
              Bienvenido Plantilla <img src="https://cdn-images-1.medium.com/max/1000/1*AyVeOIKqYMkpeZRxNOxRjg.png" height="60px"/>Angular+Firebase!
            </h1>
            <small class="pb-5 pt-0 mt-0">Version 0.4.1</small>
            <p>Contiene firebase,bootstrap, Material angular, <a href="https://material.io/tools/icons/?style=baseline" target="_blank">material icon</a>, jquery, hammerjs, <a href="https://fontawesome.com/icons">fontawesome</a></p>
            <p>Se actualizó el módulo de rxjs</p>
            <br>

          </div>
          <br>
          <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>


