<div id="map" class="map">
    <mat-spinner class="loading d-none" diameter="50"></mat-spinner>
</div>

<a mat-raised-button class="btn-map5 bg-warning text-white" *ngIf="!register" [href]="getURLGoogleMaps()" target="_blank">Abrir en Google Maps</a>
<button mat-raised-button class="btn-map1" (click)="recalcular()" *ngIf="register" color="primary">Recalcular</button>
<button mat-raised-button class="btn-map2 bg-success text-white" *ngIf="register && location" (click)="submit()">Confirmar</button>
<button mat-raised-button class="btn-map3 bg-info text-white" (click)="goBack()">Volver</button>
<button mat-mini-fab matTooltip="Ver mi ubicación" class="btn-map4 bg-info text-white" (click)="miLocalizacion()"><mat-icon>near_me</mat-icon></button>
<button mat-mini-fab matTooltip="Ver Incidencia" *ngIf="!register" class="btn-map6 bg-warning text-white" (click)="verIncidencia()"><mat-icon>warning</mat-icon></button>
