 
<mat-card class="m-5 clickable" [routerLink]="['usuarios/lista']"> 
  <mat-icon>supervised_user_circle</mat-icon> Usuarios
</mat-card>

<mat-card class="m-5 clickable" [routerLink]="['tareas/lista']"> 
  <mat-icon>view_list</mat-icon> Tareas
</mat-card>

<mat-card class="m-5 clickable" [routerLink]="['administracion']"> 
  <mat-icon>settings</mat-icon> Administración
</mat-card>

<mat-card class="m-5 clickable logout" (click)="cerrarSesion()"> 
  <mat-icon>power_settings_new</mat-icon> Cerrar sesión
</mat-card>

<!--     <mat-card class="m-5 clickable" [routerLink]="['/listaDraggable']">
  <mat-icon>drag_handle</mat-icon> Listas Arrastrables 
</mat-card> -->

<!-- <mat-card class="m-5 clickable" [routerLink]="['/notificacion']">
  <mat-icon>notifications</mat-icon> Notificaciones
</mat-card> -->

